@font-face {
  font-family: 'MonoplexKR-Regular';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_Monoplex-kr@1.0/MonoplexKR-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}

* {
  box-sizing: border-box;
  font-family: 'MonoplexKR-Regular';
  border-radius: 5px;
}

body {
  margin: 0;
  background-color: #ffffff;
}

h2{
  margin: 30px;
}

.login-form {
  position: absolute;
  width: 30vw;
  background-color: #f5f5f5;
  margin-right: auto;
  margin-left: auto;
  margin-top: 50px;
  padding: 20px;
  text-align: center;
  border: none;
  top:40%;
  left:50%;
  transform:translate(-50%,-50%);
  border-radius:30px;
  box-shadow:5px 5px 10px rgba(204, 204, 204, 0.473);
}

.text-field {
  font-size: 16px;
  padding: 10px;
  border: none;
  width: 100%;
  margin-bottom: 20px;

}

.submit-btn {
  font-size: 16px;
  border: none;
  padding: 10px;
  width: 100%;
  background-color: #499d77;
  margin-bottom: 30px;
  color: white;
}

.links {
  text-align: center;
}

.links a {
  font-size: 12px;
  color: #9B9B9B;
}